{% extends "studentparent.html" %}
{% block body %}
<h2 style="color: blue;text-align: center;">chaange Password</h2>
<form class="form-group" action="{% url 'studentapp:changepassword' %}" method="POST">
    {% csrf_token %}

    <table style="width: 70%;margin: auto;">
        <tr>
            <td>Enter old password</td>
            <td>
                <input type="password" name="oldpassword" class="form-control" required/>
            </td>
        </tr>
        <tr>
            <td>Enter new Password</td>
            <td>
                <input type="password" name="newpassword" class="form-control" required/>
            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input type="password" name="confirmpassword" class="form-control" required/>
            </td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-outline-primary">change Password</button></td>
        </tr>
    </table>
</form>

{% endblock body %}