{% extends "parrent.html" %}
{% block main %}
<h1 style="text-align: center;" class="font">Enquiry Form </h1>
<script>
    function validate() {
        var name = document.getElementById("name")
        var contactno = document.getElementById("contactno")
        var emailaddress = document.getElementById("emailaddress")
        var emailexp = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (name.value == null || name.value == "") {
            alert('please fill the name')
            name.focus();
        }
        else if (contactno.value == "" || contactno.value == null) {
            alert('please enter contact number')
            contactno.focus();
        }
        else if (isNaN(contactno.value)) {
            alert('please fill number')
            contactno.focus();
        }
        else if (contactno.value.length !== 10) {
            alert('Enter ten digit number')
            contactno.focus();
        }
        else if (emailaddress.value == null || emailaddress.value == "") {
            alert('please enter Email address')
            emailaddress.focus();
        }
        else if (!emailexp.test(emailaddress.value)) {
            alert('please enter valid email address')
            emailaddress.focus();
        }
        else {
            document.getElementById("frmcontactus").submit();
        }




    }
</script>
{% if messages%}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<form class="form-group" id="frmcontactus" method="post" onsubmit="event.preventDefault();validate()" ;
    action="{% url 'lmsapp:contactus' %}">
    {% csrf_token %}
    <table class="table" style="width:70%;margin:auto;">
        <tr>
            <td>Enter name</td>
            <td>
                <input type="text" name="name" class="form-control" id="name" />
            </td>
        </tr>
        <tr>
            <td>Select Gender</td>
            <td>
                <input type="radio" name="gender" value="Male" class="form-check-input" />Male
                <input type="radio" name="gender" value="Female" class="form-check-input" />Female
            </td>
        </tr>
        <tr>
            <td>Enter Address</td>
            <td>
                <textarea name="address" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td>Enter Contact No</td>
            <td>
                <input type="number" name="contactno" class="form-control" id="contactno" />
            </td>
        </tr>
        <tr>
            <td>
                Enter Email Address
            </td>
            <td>
                <input type="text" name="emailaddress" class="form-control" id="emailaddress" />
            </td>
        </tr>
        <tr>
            <td>Enter Enquiry</td>
            <td>
                <textarea name="enquirytext" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn btn-outline-success">Submit</button>
                <button type="reset" class="btn btn-outline-danger">Reset</button>
            </td>
        </tr>
    </table>
</form>
{% endblock main %}