{% extends "parrent.html" %}
{% block main %}
<script>
    function validate() {
        var userid = document.getElementById("userid");
        var password = document.getElementById("password");
        if (userid.value == "" || userid.value == null) {
            alert('Please enter userid');
            userid.focus();
        }
        else if (password.value == "" || password.value == null) {
            alert('Please enter password');
            password.focus();
        }
        else {
            document.getElementById("frmlogin").submit();
        }

    }
</script>

{% if messages%}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-8">
    <h1 style="text-align: center;" class="font" >Login</h1>
<form class="form-group" id="frmlogin" onsubmit="event.preventDefault();validate();" method="post"action="{% url 'lmsapp:login' %}">
    {% csrf_token %}
    <table class="table" style="width: 80%;margin: auto;">
        <tr>
            <td>Enter Your userid/Rollno</td>
            <td>
                <input type="text" name="userid" class="form-control" id="userid" />
            </td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td>
                <input type="password" name="password" class="form-control" id="password" />
            </td>
        </tr>
        <tr>
            <td>Select User Type</td>
            <td>
                <select name="usertype" class="form-control">
                    <option selected>--Select User--</option>
                    <option value="student">Student</option>
                    <option value="admin">Administrator</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn btn-outline-success">Login</button>
                <button type="reset" class="btn btn-outline-danger">Reset</button>
            </td>
        </tr>
    </table>
</form>
</div>
</div>
{% endblock main %}